
    
    
    h1{
        color: darkcyan;
        font-style: initial;
        font-size: 25px;    
        margin-left: 100px;
    }
    div{
    
        margin: 30px 30px;
    margin: 0 10%;
    height: auto;
    }

    .logout{
        position: fixed;
         float:right;
         background-color: rgb(170, 63, 2);
         border:1px solid #fff;
         border-radius:5px;
         margin: -8% 40%;
         padding: 5px 40px;
         color: white;   
         cursor: pointer;      
    }
    .logout:hover{
background-color: rgb(56, 56, 4);
    }
    input{
        
        border:1px solid blue;
        border-radius: 5px;
        width: 300px;
        height: 35px;
        text-align: center;
    }
    input:hover{
        background-color: rgb(228, 235, 246);
    }
    .button{
        
        background-color:rgb(50, 51, 50);
        border: 1px solid white;
        border-radius: 10px;
        font-size: 20px;
        color: white;
        margin-top: 10px;
        padding: 5px 10px;
    }

    .button:hover{
        background-color:rgb(5, 77, 24);
        border: 1px solid white;
    
    }
    .main{
        position: relative;
        display: block;
    }

    .mainlist{
        background-color: rgb(29, 29, 29);
        text-align: left;
        width: 200px;
        padding: 5px 40px;
        border: 1px solid rgb(10, 10, 39);
        list-style: none;
        margin: 1% 60%;
        display: block;
       border-radius: 5px;
        color: white;;
    }

    .mainlist:hover{
    background-color: rgb(68, 37, 245);
    border-radius: 10px;

    }
    p{
        font-size: 20px;
        color: chocolate;
        font-family: italic;
    }
    .btn{
      
        background-color: rgb(201, 8, 8);
        color: white;
        border: 1px solid white;
        border-radius: 14%;
        margin-left:10%;
        font-size: 15px;
    }

    .header{
    font-size:50px;
    }


    /*   login  form code*/
    .loginbtn{
        border:1px solid white;
        background-color: rgb(72, 240, 72);
        font-size: 20px;
        border-radius: 10px;
        width: 100%;
    }
    .loginbtn:hover{
    background-color: rgb(3, 77, 3);
    }
    
    .form{
        
        background-color: rgb(15, 15, 15);
        padding: 40px 30px;
      margin-top:25%;
      color: white;
        }

    .Back{
        background-color:  red;
    }

   


    em{
        font-size: 30px;
    }
    
    .p1{
        font-size: 33px;
        
    }
    
   
  

    ul{
        list-style: none;
        
    }

    a{
        text-decoration: none ;
        color: white;
    }
    a,li:hover{

        color: greenyellow;
    }
    .right,li{
    float: right;
    padding: 0 10px;
    margin: 20px 10px;
    color: rgb(161, 161, 161); 
    }

    .row{
        display: flex;
    }

    /* media queries*/
    @media only screen and ( max-width: 668px )
    {
    .right,li{
    display: none ;
        
    }
    .row{
        display: none;
        text-align: center;
    }
    .col-1{padding: 10px 10px;
    margin-left: -45px ;

    }

    em{
        display: none;
    }
    
    }
    @media only screen and (max-width: 768px) {

    .row{

    font-size: 10px;

    }
    .row,li{
    display: none;
    }

    .form{
        padding: 40px 45px;

    }

    em{
        font-size: 30px;
        padding: 20px 0;
    }
    }

    @media only screen and (max-width: 600px){
    .row{
        display: none;
    }

    .form{
        padding: 0;
    }
    footer{
        display: none;
    }
    }
    @media only screen and (max-width: 986px) {

        .row,li{ font-size: 12px; margin: 10px 5px;}
            a,li:hover{color: orangered;}
            em{display: none;}
            p{display: none;}
    }
    @media only screen and (max-width: 1260px) {
        em{display: none;}
        p{display: none;}
        .row,li{ font-size: 12px; margin: 10px 2px;}


    }